/* 
@each est un foreach sur list ou map
pour chaque breakpoint, sa valeur dans le map breakpoints
*/

@each $breakpoint, $value in $breakpoints{
    @media screen and (min-width: #{$value}){
        /* breakpoint : #{$breakpoint}, value #{$value} */
        .container{
            /* on récupère la value indiqué à l'ince breakpoint dans le map container-width
            #{$breakpoint} : #{map.get($container-width, $breakpoint)}
            */
            @include mqBpC(map.get($container-width, $breakpoint));
        }

        @if(map.get($container-width, $breakpoint) == 720){
            /* 
            si la valeur associé au breakpoint est égale à 720
            on change l'affichage de la navigation
            #{$breakpoint} : #{map.get($container-width, $breakpoint)}
            */
            body > nav ul.navigation{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                li:first-child{
                    border-top: unset;
                }
                li{
                    border-bottom: unset;
                }
            }
        }
    }
}